<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Cara Bermain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2>1. Pengertian</h2>
    <p>Aplikasi <b>"EduKu: Edukasi Kuis Narkoba"</b> adalah sebuah aplikasi yang menyajikan sebuah edukasi tentang
      penyalahgunaan
      narkoba, bahaya narkoba, sanksi hukum, dan informasi lainnya yang disajikan dalam bentuk kuis.</p>
    <h2>2. Cara Bermain</h2>
    <p>Tampilan awal saat aplikasi pertama kali dibuka setelah di-<i>install</i> akan menampilkan <i>pop-up</i> untuk
      memasukkan
      nama pemain. Setelah
      memasukkan nama pemain, pengguna dapat memilih tingkat kesulitan kuis yang akan dimainkan, aplikasi <b>EduKu</b>
      terdapat tiga tingkat
      kesulitan yaitu Easy (Mudah), Medium (Sedang), dan Hard (Sulit).
      Pada tiap tingkatannya masing-masing terdapat timer 15 detik dan 10 soal dengan tiap soal memiliki bobot 10 poin,
      soal pada kuis ini berupa penyataan
      yang harus dijawab bahwa pernyataan tersebut benar atau salah. Jika jawabannya sesuai maka akan mendapatkan 10
      poin dan
      jika salah maka tidak akan mendapatkan poin. <br>
      Setelah menyelesaikan semua soal, pengguna akan mendapatkan ringkasan yang berisi nilai total yang diperoleh,
      pengguna memiliki pilihan
      untuk mengulang kuis dengan tingkat kesulitan yang sama atau kembali ke menu utama untuk memilih tingkat kesulitan
      lain.
      Selain itu, pengguna juga dapat keluar dari aplikasi kapan saja. </p>
    <h3>a. Leaderboard</h3>
    <p>Leaderboard adalah fitur yang digunakan untuk menampilkan peringkat lokal pengguna berdasarkan nilai yang
      diperoleh, pada leaderboard terdapat 3 kategori yaitu Easy (Mudah), Medium (Sedang), dan Hard (Sulit).</p>
    <h3>b. Ganti Pemain</h3>
    <p>Fitur ganti pemain pada aplikasi <b>EduKu</b> adalah fitur yang digunakan untuk mengganti nama pemain, fitur
      ini
      dapat diakses melalui menu pengaturan. Pada saat pengguna ingin mengganti pemain maka akan muncul pop up untuk
      memasukkan nama pemain. Setelah
      memasukkan nama pemain, pengguna dapat memilih tingkat kesulitan kuis yang akan dimainkan. Secara tidak
      langsung,
      fitur ini disediakan agar pengguna bisa melakukan sebuah mini kompetisi dengan temannya di satu perangkat yang
      sama.</p>
    <h3>c. Hapus Riwayat Skor</h3>
    <p>Fitur hapus riwayat skor adalah fitur yang digunakan untuk menghapus riwayat skor pengguna, fitur ini dapat
      diakses melalui menu pengaturan. Pada saat pengguna ingin menghapus riwayat skor maka akan muncul pop up untuk
      mengkonfirmasi penghapusan riwayat skor. Setelah
      konfirmasi penghapusan riwayat skor, pengguna dapat melanjutkan penggunaan aplikasi.</p>
  </ion-card>
</ion-content>