<ion-content [fullscreen]="true">

  <div id="first-container">
    <div class="logo-app">
      <ion-img src="assets/image/logo-eduku-app.png" alt="Logo Aplikasi EduKu"></ion-img>
    </div>

    <div class="say-hello-card">
      <p>Halo,</p>
      <p>Selamat Datang!</p>
    </div>

    <div class="carousel-container">
      <ion-card class="carousel-item">
        <img alt="SELAMAT DATANG DI EDUKU APP!" src="assets/image/welcome.png" />
      </ion-card>

      <ion-card class="carousel-item">
        <img alt="AYO UJI PENGETAHUANMU" src="assets/image/edukasi.png" />
      </ion-card>

      <ion-card class="carousel-item">
        <img alt="AYO KENALI NARKOBA DAN BAHAYANYA!" src="assets/image/call-to-action.png" />
      </ion-card>
    </div>

    <div class="card-quiz-level">
      <ion-card id="easy-level" class="easy-level" routerLink="/quiz/easy">
        <ion-card-header>
          <ion-card-subtitle>10 Soal</ion-card-subtitle>
          <ion-card-title>Level Easy</ion-card-title>
        </ion-card-header>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card class="medium-level" id="medium-level" routerLink="/quiz/medium">
        <ion-card-header>
          <ion-card-subtitle>10 Soal</ion-card-subtitle>
          <ion-card-title>Level Medium</ion-card-title>
        </ion-card-header>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>

      <ion-card class="hard-level" id="hard-level" routerLink="/quiz/hard">
        <ion-card-header>
          <ion-card-subtitle>10 Soal</ion-card-subtitle>
          <ion-card-title>Level Hard</ion-card-title>
        </ion-card-header>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </div>
</ion-content>


<ion-modal [isOpen]="isFirstTime" [backdropDismiss]="false" class="glass-modal">
  <ng-template>
    <ion-content class="ion-padding transparent-content">

      <div class="form-container">
        <h2>Selamat Datang!</h2>
        <p>Masukkan nama panggilanmu untuk dicatat di Papan Peringkat</p>

        <ion-item class="input-nama">
          <ion-input [(ngModel)]="namaPemain" placeholder="Ketik nama di sini..."></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="simpanNama()" [disabled]="!namaPemain">
          Simpan & Lanjutkan
        </ion-button>
      </div>

    </ion-content>
  </ng-template>
</ion-modal>

<app-tabs></app-tabs>