<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" icon="arrow-back"></ion-back-button>
    </ion-buttons>

    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="disclaimer">
    <h2>DISCLAIMER</h2>
    <p><i>"Seluruh materi edukasi dan soal kuis merujuk pada pedoman resmi dan bersumber dari Badan Narkotika Nasional
        (BNN),
        Undang-Undang No. 35 Tahun 2009, data institusi internasional seperti UNODC, hingga artikel internasional."
      </i></p>
  </ion-card>
  <ion-card>
    <h2>1. Latar Belakang</h2>
    <p>Kasus penyalahgunaan narkoba telah menjadi masalah serius di berbagai belahan dunia, termasuk Indonesia.
      Generasi muda menjadi salah satu kelompok yang rentan terhadap penyalahgunaan narkoba. Banyak faktor yang
      menyebabkan
      generasi muda terjerumus ke dalam penyalahgunaan narkoba, antara lain tekanan teman sebaya, kurangnya pengetahuan
      tentang bahaya narkoba, kurangnya motivasi, dan kurangnya dukungan dari keluarga dan lingkungan. <br>
      Dilansir dari <i>National Center for Drug Abuse Statistics (NCDAS)</i> menyebutkan sebanyak 47,7 juta orang
      Amerika berusia
      dua belas tahun ke atas merupakan pengguna narkoba ilegal pada tahun 2023. Selain itu, dalam acara "Briefing on
      the 2025 World Drug Report" yang diselenggarakan
      di Gedung BNN, Jakarta Timur, tanggal 7 juli 2025. Kegiatan ini dihadiri oleh UN Resident Coordinator, Ms. Gita
      Sabharwal; UNODC
      Head of Office and Liaison to ASEAN, Mr. Erik van der Veen; perwakilan kementrian/lembaga; kedutaan besar;
      organisasi internasional; serta mitra pembangunan. Kepala
      Badan Narkotika Nasional (BNN) Republik Indonesia, Marthinus Hukom, dalam sambutannya mengungkapkan bahwa pada
      tahun 2025, terjadi peningkatan sebesar 24% dalam
      penyitaan methamphetamine (sabu) di kawasan Asia Timur dan Tenggara. Kemudian, dalam artikel yang dirilis oleh BNN
      tanggal 15 januari 2023, terdapat enam negara yang
      menjadi pengedar narkoba terbesar di dunia, yaitu Myanmar, Maroko, Kolombia, Meksiko, Bolivia dan Afghanistan.
      <br>
      Menyikapi hal tersebut, maka perlu dilakukannya upaya pencegahan untuk menekan angka penyalahgunaan narkoba salah
      satunya melalui edukasi mengenai bahaya penyalahgunaan narkoba.
      Dalam upaya meningkatkan kesadaran masyarakat tentang bahaya penyalahgunaan narkoba, khususnya pada remaja dan
      dewasa muda. Maka dari itu, saya membuat sebuah aplikasi <i>mobile</i> tentang
      edukasi mengenai penyalahgunaan narkoba yang diberikan nama <b>EduKu: Edukasi Kuis Narkoba</b>. Diharapkan
      dibuatnya aplikasi ini tidak hanya sebagai bahan untuk memenuhi nilai Ujian Tengah Semester (UTS)
      mata kuliah pemrograman mobile, tetapi juga dapat menjadi sarana edukasi yang menyenangkan dan bermanfaat bagi
      pengguna dalam mencegah penyalahgunaan narkoba.
    </p>
    <h2>2. Nama Aplikasi</h2>
    <p>EduKu: Edukasi Kuis Narkoba</p>
    <h2>3. Deskripsi Singkat</h2>
    <p>Aplikasi <b>EduKu: Edukasi Kuis Narkoba</b> selanjutnya disebut EduKu adalah sebuah aplikasi mobile yang berisi
      konten edukasi mengenai bahaya narkoba, pencegahan, sanksi hukum dan informasi lainnya yang terkait dalam bentuk
      kuis interaktif.
      Soal kuis yang disajikan pada aplikasi ini berupa sebuah penyataan seputar narkoba, lalu pengguna aplikasi
      menjawab benar atau salah dari penyataan tersebut.
      Pada aplikasi edukasi kuis ini, disediakan 3 tingkat kesulitan yaitu easy (mudah), medium (sedang) dan hard
      (sulit).</p>
    <h2>4. Tujuan</h2>
    <p>Tujuan dari pembuatan aplikasi eduku ini adalah bukan hanya sekedar ensiklopedia tentang bahaya narkotika,
      tetapi ini adalah platform interaktif yang menguji literasi pengguna mengenaihukum penggunaan, produksi, dll.,
      narkoba lewat kuis.
    </p>
    <h2>5. Manfaat</h2>
    <p>Aplikasi ini diharapkan dapat memberikan manfaat kepada pengguna dalam meningkatkan pengetahuan tentang bahaya
      narkoba, pencegahan, sanksi hukum dan informasi lainnya yang terkait dalam bentuk kuis interaktif. Selain itu,
      tentunya aplikasi ini diharapkan
      dapat menekan angka kasus tentang narkoba baik di Indonesia maupun di Internasional.
    </p>
    <h2>6. Sasaran Pengguna</h2>
    <p>Sasaran pengguna dari aplikasi ini adalah remaja dan dewasa muda,
      terutama siswa SMA dan Mahasiswa.
    </p>
    <h2>7. Fitur Aplikasi</h2>
    <p>Fitur yang tersedia pada aplikasi ini adalah:</p>
    <ul>
      <li>Kuis interaktif</li>
      <li>Tiga tingkat kesulitan (mudah, sedang dan sulit)</li>
      <li>Leaderboard</li>
    </ul>

    <h2>8. Mode Aplikasi</h2>
    <p>Aplikasi EduKu ini dapat dijalankan dengan mode <i>offline</i> tanpa membutuhkan jaringan internet.</p>

    <h2>9. Waktu Pembuatan</h2>
    <p>Aplikasi ini dibuat dalam rentang waktu bulan maret sampai bulan april tahun 2026.</p>

    <h2>10. Teknologi Pembuatan</h2>
    <p>Dalam proses pembuatannya aplikasi <b>EduKu: Edukasi Kuis Narkoba</b> ini menggunakan teknologi berikut:</p>
    <ul>
      <li>Ionic Framework</li>
      <li>TypeScript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Angular</li>
    </ul>


    <h2>11. Versi Aplikasi</h2>
    <p>v1.0.0</p>

    <h2>12. Hak Cipta</h2>
    <p>Copyright &copy; 2026. Hak Cipta Dilindungi Undang-Undang.</p>
  </ion-card>
</ion-content>