ion-content {
    --background: linear-gradient(180deg, #002fff 0%, #0077ff 100%);

    #account {
        background: #eff3fd;
        border-radius: 16px;
        margin: 10px;
        margin: 20px;
        height: 160px;

        ion-item {
            --background: #eff3fd;

            ion-label {
                --color: #0077ff;
            }
        }

        ion-list-header {
            color: #002fff;
            font-size: 18px;
        }
    }

    #information {
        background: #eff3fd;
        border-radius: 16px;
        margin: 10px;
        margin: 20px;
        height: 200px;

        ion-item {
            --background: #eff3fd;

            ion-label {
                --color: #272626;
            }
        }

        ion-list-header {
            color: #002fff;
            font-size: 18px;
        }
    }

}

.glass-modal {
    --background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    .transparent-content {
        --background: transparent;

        .form-container {
            background: #b1c7f1;
            padding: 30px 20px;
            border-radius: 20px;
            margin-top: 40%;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
            text-align: center;

            .header-close {
                display: flex;
                justify-content: end;

                ion-icon {
                    font-size: 24px;
                    cursor: pointer;
                    color: #002fff;
                }
            }


            .input-nama {
                margin: 20px 0;
                border-radius: 10px;
                --background: #f8f8f4;
                --color: #002fff;
            }

            p {
                color: black;
                font-size: 24px;
            }
        }
    }
}

.header {
    ion-toolbar {
        display: flex;
        justify-content: left;
        align-items: center;
        --padding-top: 20px;
        --padding-start: 5px;
        --padding-bottom: 5px;
        --background: #fcfdff;

        ion-back-button {
            color: #002fff;
        }

        ion-title {
            color: #002fff;
            font-size: 22px;
        }
    }
}